.icon-left {
  position: absolute;
  top: 10px;
  left: 10px;
}

.icon-right {
  position: absolute;
  bottom: 10px;
  right: 10px;
}

/* How to vertically align a div */
.season-display {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.season-display.winter i {
  color: #0000ff;
}

.season-display.summer i {
  color: #ff0000;
}

.summer {
  background-color: #ffa500;
}

.winter {
  background-color: #f0f8ff;
}
